.cartContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.cartProductContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 20px auto;
    width: 1000px;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 0 20px 0 rgba(44, 44, 44, 0.19);
}
.cartProductContainer :last-child{
    border: none;
}
.productCardCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s, background-color 0.3s;
    padding: 10px;
    border-bottom: solid 1px #979797;
}

.productCardCart img{
    width: 75px;
    height: 100px;
}

.footerCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s, background-color 0.3s;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(44, 44, 44, 0.19);
}
.deleteButton{
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: transparent;
}
.productCardCart svg{
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 0px;
}
.clearButton{
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.footerCart svg{
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 0px;
}
.cartEmpty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50vh;
}