.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.itemDetailContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
