.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;
    gap: 15px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    width: 175px;
    margin: 5px;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.781);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.19), 0 6px 20px 0 rgba(99, 99, 99, 0.19);
    transition: transform 0.5s;
}

.img-card {
    width: 125px;
    height: 150px;
}

.card h3 {
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 0px;
    font-weight: 400;
}

.price {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
}
.button{
    background-color: #e71a1a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #e71a1ac7;
}   

@media screen and (max-width: 720px) {
    .card-container {
        margin-left: 2%;
        margin-right: 2%;
    }
    .card {
        width: 100px;
        height: auto;
    }
    .img-card {
        width: 75px;
        height: 100px;
    }
    .card h3 {
        font-size: 10px;
    }
    .price {
        font-size: 10px;
    }

}