footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #bbbbbbc5;
    width: 100%;
    margin-top: 10%;
    align-self: flex-end;
    padding: 5px;
}
footer .footer-top{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 50px 0;
}
footer .footer-top .logo-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-top .logo-footer img{
    width: 150px;
}
footer .footer-top .info-footer h3{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px
}
footer .footer-top .info-footer p{
    color: #000
}
footer .footer-top .icons-footer h3{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px
}
footer .footer-bottom {
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    color: #000;

    background-color: #818181c5;
}
footer svg{
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}